*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
}

fieldset{
min-width: 300px;
max-width: 300px;
border-radius: 15px;
color:#000;
background:#FFF;
border:0 none;
}
.image{
border-top-left-radius: 15px;
border-top-right-radius: 15px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 20px;
    background-color: #15638F;    
}
.content{
padding-left: 0.75em;
padding-right: 0.75em;
padding-bottom: 0.75em;
}
.button{
color:#fff;
background: #2797B2;
border-radius: 30px;
padding: 3px;
padding-left:15px;
padding-right:15px;
border:0 none;
margin:10px;
margin-left:5px;
}
